<div class="row">
    @for (tache of les_taches; track $index) {
       <div class="col-4">
        <div class="card m-4 p-5">
            <h3>{{tache.titre}}</h3>
            <p>{{tache.contenu}}</p>
            @if (tache.realise) {
                <span class="badge bg-success">realisé</span>
            }@else {
                <span class="badge bg-danger">non realisé</span>
            }
                <span class="badge bg-info m-3"><a class="nav-link" [routerLink] = "['/tache/modifier']">modifier</a></span>
                <span class="badge bg-warning "> <a class="nav-link" [routerLink]= "['/tache/supprimer']">supprimer</a></span>
        </div>
       </div>
    }

</div>